In [1]:
import pandas as pd
data = pd.read_csv('hp_data.csv')
data.head()

,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [2]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data.place = enc.fit_transform(data.place)
data.head()

,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,6300000,2,Super built-up Area,1450,Resale,5,1,4,1
1,11500000,14,Super built-up Area,2190,Resale,5,3,5,3
2,3800000,12,Super built-up Area,1019,Resale,1,2,5,2
3,10500000,1,Super built-up Area,1857,Resale,15,4,5,4
4,11500000,14,Super built-up Area,2190,Resale,5,3,5,3

In [ ]:
pd.DataFrame(enc.classes_)

In [ ]:
X = data.loc[:,['sqft','place','yearsOld','totalFloor','bhk']]
y = data.price

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

## Model Evaluation

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                    test_size=0.3,random_state=10)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
y_predict = model.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

# Exporting Model

In [ ]:
import joblib
joblib.dump(model,'hp_trained_model.pkl') # .pkl pickle

http://127.0.0.1:5000/predict?sqft=1500&place=2&yo=5&tf=10&bhk=3